@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto';
}

.settingsButton {
  background-color: #ffeb3b;
  color: black;
  border: 1px solid #fdd835;
  padding: 10px;
  border-radius: 15px 15px 15px 15px;
}

.settingsButton:hover {
  background-color: #fbc02d;
  color: black;
  border: 1px solid #fdd835;
  padding: 10px;
  border-radius: 15px 15px 15px 15px;
}


