input {
  font-size: 1em;
}

button {
  background-color: #ffeb3b;
  color: black;
  border: 1px solid #fdd835;
  padding: 10px;
  border-radius: 15px 15px 15px 15px;
  font-size: 1em;
}

button:hover {
  background-color: #fbc02d;
  color: black;
  border: 1px solid #fdd835;
  padding: 10px;
  border-radius: 15px 15px 15px 15px;
}

.container {
  border: 1px solid darkgray;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  width: 90%;
}

.divButton {
  margin: 20px;
}

.weatherCity {
  display: flex;
  justify-content: center;
}